
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:linear-gradient(to bottom, #21ec9f, #1b9969); 
    padding: 10px 20px;
    width: 100%;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0; 
}
#bookmark-btn {
    font-size: 26px; 
    margin-right: 20px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.bookmark-panel {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: white;
    box-shadow: -2px 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: right 0.3s ease-in-out;
    overflow-y: auto;

}
.bookmark-panel h3{
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 18px 0px;
    background:linear-gradient(to bottom, #21ec9f, #1b9969);
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 300px;
}
.bookmark-panel.active {
    right: 0;
}
.clear-btn{
    color: white;
    font-size: 20px;
    position: relative;
    left: 10px;
    top: 10px;
}

#bookmark-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto; 
    max-height: calc(100vh - 60px); 
    padding-top: 40px; 
}

#bookmark-list li {
    background: #f8f7f7;
    font-size: 16px;
    font-weight:400;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 5px 10px;
    border-radius: 5px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

#bookmark-list li:hover {
    background: #dbdada; 
    cursor: pointer;
}


.main-content {
    width: 100%;
    max-width: 550px;
    margin: 50px auto;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    
}
.search-container{
    width: 100%;
    max-width:800px;
    position: relative;
}
input {
    width: 100%;
    max-width: 700px;
    height: 45px;
    border: none;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 3px rgb(153, 152, 152);
    font-size: 20px;
    padding: 0px 80px 0px 20px; 
    
}

.voice-icon {
    position: absolute;
    top: 30%;
    right: 60px; 
    font-size: 22px;
    color: rgb(77, 77, 77);
    cursor: pointer;
}

.search-icon {
    position: absolute;
    top: 30%;
    right: 20px; 
    font-size: 22px;
    color: rgb(77, 77, 77);
    cursor: pointer;
}

.search-icon:hover, .voice-icon:hover{
    color: black;
}


.result {
    width: 100%;
    max-width: 550px;
    padding: 20px;
    margin-top: 10px;
   
    
}
.bookmark-icon{
    cursor:pointer;
    color:gray;
}
.bookmark-icon:hover{
    color:rgb(87, 87, 87);
}

h2{
    font-size: 20px;
    
   
}
p{
    margin-top: 5px;
    font-size: 15px;
  
}
i{
    font-size: 15px;
    
}
a{
    font-size: 16px;
    
}
@media (max-width: 600px) {
    h1 {
        font-size: 30px;
        text-align: center;
    }

    .main-content {
        width: 90%;
        margin: 50px 5%;
        padding: 0;
    }
}

